In [2]:
import numpy as np

from data_locator import ret_zoo_weights, ret_embedded_weights

zoo = 'stl10' # cifar10, mnist, stl10, svhn
unmodified_weights = ret_zoo_weights(zoo)

with ret_embedded_weights(zoo, msb=False) as modified_weights:
    for i in range(1, 24):
        eq_true = np.equal(unmodified_weights, modified_weights[str(i)]) == True
        eq_amounts = np.count_nonzero(eq_true, axis=1)
        print(f'LSB {i}: min: {np.min(eq_amounts)}, max: {np.max(eq_amounts)}, mean: {np.mean(eq_amounts)}')

LSB 1: min: 1336, max: 1528, mean: 1431.985
LSB 2: min: 640, max: 799, mean: 716.7952
LSB 3: min: 302, max: 419, mean: 357.5544
LSB 4: min: 136, max: 224, mean: 178.943
LSB 5: min: 58, max: 124, mean: 89.4506
LSB 6: min: 24, max: 68, mean: 44.7228
LSB 7: min: 8, max: 42, mean: 22.418
LSB 8: min: 1, max: 23, mean: 11.1292
LSB 9: min: 0, max: 15, mean: 5.5936
LSB 10: min: 0, max: 10, mean: 2.824
LSB 11: min: 0, max: 7, mean: 1.391
LSB 12: min: 0, max: 5, mean: 0.6932
LSB 13: min: 0, max: 4, mean: 0.3602
LSB 14: min: 0, max: 3, mean: 0.1766
LSB 15: min: 0, max: 2, mean: 0.0838
LSB 16: min: 0, max: 2, mean: 0.0452
LSB 17: min: 0, max: 2, mean: 0.0202
LSB 18: min: 0, max: 2, mean: 0.0096
LSB 19: min: 0, max: 1, mean: 0.004
LSB 20: min: 0, max: 1, mean: 0.0026
LSB 21: min: 0, max: 1, mean: 0.001
LSB 22: min: 0, max: 1, mean: 0.0002
LSB 23: min: 0, max: 0, mean: 0.0

In [1]:
import numpy as np
from data_locator import ret_zoo_weights, ret_embedded_weights
zoos = ['cifar10', 'mnist', 'stl10', 'svhn']

for iz, zoo in enumerate(zoos):
    unmodified_weights = ret_zoo_weights(zoo)

    print(f'Zoo: {zoo}', 'unmodified weights:', unmodified_weights.shape)

Zoo: cifar10 unmodified weights: (5000, 2864)
Zoo: mnist unmodified weights: (5000, 2464)
Zoo: stl10 unmodified weights: (5000, 2864)
Zoo: svhn unmodified weights: (4087, 2464)

In [3]:
import numpy as np

from data_locator import ret_zoo_weights, ret_embedded_weights

zoos = ['cifar10', 'mnist', 'stl10', 'svhn']

data = [None]*len(zoos)*23

for iz, zoo in enumerate(zoos):
    unmodified_weights = ret_zoo_weights(zoo)
    
    with ret_embedded_weights(zoo, msb=False) as modified_weights:
        for i in range(1, 24):
            eq_true = np.equal(unmodified_weights, modified_weights[str(i)]) == True
            eq_amounts = np.count_nonzero(eq_true, axis=1)

            data[iz*23+(i-1)]=(i, zoo, np.min(eq_amounts), np.max(eq_amounts), int(np.round(np.mean(eq_amounts))))

import pandas as pd

df = pd.DataFrame(data, columns=['LSB', 'zoo', 'min', 'max', 'mean'])

df

    LSB      zoo   min   max  mean
0     1  cifar10  1336  1528  1432
1     2  cifar10   640   799   717
2     3  cifar10   302   419   358
3     4  cifar10   136   224   179
4     5  cifar10    58   124    89
..  ...      ...   ...   ...   ...
87   19     svhn     0     1     0
88   20     svhn     0     1     0
89   21     svhn     0     1     0
90   22     svhn     0     1     0
91   23     svhn     0     1     0

[92 rows x 5 columns]

In [4]:
import pandas as pd

def df_map(df):
    sub_df = df[['LSB', 'min', 'max', 'mean']]

    return sub_df.set_index('LSB')

df_concat = pd.concat({k_zoo: df_map(v_zoo) for k_zoo,v_zoo in dict(tuple(df.groupby('zoo'))).items()}, axis=1)
df_concat

    cifar10             mnist             stl10              svhn
        min   max  mean   min   max  mean   min   max  mean   min   max  mean
LSB
1      1336  1528  1432  1121  1320  1233  1331  1532  1432  1152  1325  1232
2       640   799   717   538   688   616   632   803   716   540   701   616
3       302   419   358   252   372   308   282   423   358   252   360   308
4       136   224   179   106   196   154   137   233   179   114   201   154
5        58   124    89    46   105    77    58   131    90    49   114    77
6        24    68    45    18    62    39    22    70    45    16    62    38
7         8    42    22     6    39    19     7    41    22     7    37    19
8         1    23    11     1    24    10     2    26    11     1    22    10
9         0    15     6     0    16     5     0    19     6     0    14     5
10        0    10     3     0    10     2     0     9     3     0     9     2
11        0     7     1     0     7     1     0     8     1     0     7     1
12        0     5     1     0     4     1     0     6     1     0     6     1
13        0     4     0     0     4     0     0     3     0     0     3     0
14        0     3     0     0     3     0     0     4     0     0     3     0
15        0     2     0     0     2     0     0     2     0     0     2     0
16        0     2     0     0     2     0     0     2     0     0     2     0
17        0     2     0     0     2     0     0     1     0     0     1     0
18        0     2     0     0     1     0     0     1     0     0     1     0
19        0     1     0     0     1     0     0     1     0     0     1     0
20        0     1     0     0     1     0     0     1     0     0     1     0
21        0     1     0     0     1     0     0     1     0     0     1     0
22        0     1     0     0     1     0     0     1     0     0     1     0
23        0     0     0     0     1     0     0     1     0     0     1     0

In [5]:
df_concat.to_latex('data_exploration.tex')

/tmp/ipykernel_27678/3368322602.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  df_concat.to_latex('data_exploration.tex')